<nav-directive></nav-directive>

<gallery-directive></gallery-directive>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <pbtn-directive></pbtn-directive>
        </div>

        <div class="col-lg-8">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#find" role="tab" data-toggle="tab">招领信息</a></li>
                <li class=""><a href="#lost" role="tab" data-toggle="tab">失物信息</a></li>
                <li class="dropdown">
                    <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">查看更多
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                        <li class=""><a role="menuitem" tabindex="-1" href="zhao_info.html">更多招领信息</a></li>
                        <li class=""><a role="menuitem" tabindex="-1" href="shi_info.html">更多失物信息</a></li>
                    </ul>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="find">
                    <table class="table table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>类型</th>
                            <th>名称</th>
                            <th>地点</th>
                            <th>时间</th>
                            <th>详情</th>
                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="content in tabs.find" ng-class="{1: 'info'}[{{$index%2}}]">
                            <td>{{ content.pitem }}</td>
                            <td>{{ content.pname }}</td>
                            <td>{{ content.plocation }}</td>
                            <td>{{ content.pdate }}</td>
                            <td>{{ content.pdetails }}</td>
                            <td><a ng-href="#/p/{{content.pid}}">查看具体</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="lost">
                    <table class="table table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>类型</th>
                            <th>名称</th>
                            <th>地点</th>
                            <th>时间</th>
                            <th>详情</th>
                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="content in tabs.lost" ng-class="{1: 'info'}[{{$index%2}}]">
                            <td>{{ content.pitem }}</td>
                            <td>{{ content.pname }}</td>
                            <td>{{ content.plocation }}</td>
                            <td>{{ content.pdate }}</td>
                            <td>{{ content.pdetails }}</td>
                            <td><a ng-href="#/p/{{content.pid}}">查看具体</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div class="container-fluid" id="bottom">
    <p>Copyright 2014-? <span><a ui-sref="index.index">www.hfutfind.com</a></span> 版权所有 合肥工业大学千寻网</p>
</div>