<!-- galllery -->
<gallery-directive></gallery-directive>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <pbtn-directive></pbtn-directive>
        </div>

        <div class="col-lg-8">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#find" role="tab" data-toggle="tab">招领信息</a></li>
                <li class=""><a href="#lost" role="tab" data-toggle="tab">失物信息</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="find">
                    <table class="table table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>类型</th>
                            <th>名称</th>
                            <th>地点</th>
                            <th>时间</th>
                            <th>详情</th>
                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="content in tabs.find" ng-class="{1: 'info'}[{{$index%2}}]">
                            <td>{{ content.pitem | sliceString: 4 }}</td>
                            <td>{{ content.pname | sliceString: 5 }}</td>
                            <td>{{ content.plocation | sliceString: 9 }}</td>
                            <td>{{ content.pdate | sliceString: 10 }}</td>
                            <td>{{ content.pdetails | sliceString: 16 }}</td>
                            <td><a ui-sref="index.p({ pid:content.pid })">查看具体</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="lost">
                    <table class="table table-hover table-responsive">
                        <thead>
                        <tr>
                            <th>类型</th>
                            <th>名称</th>
                            <th>地点</th>
                            <th>时间</th>
                            <th>详情</th>
                            <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="content in tabs.lost" ng-class="{1: 'info'}[{{$index%2}}]">
                            <td>{{ content.pitem | sliceString: 4 }}</td>
                            <td>{{ content.pname | sliceString: 5 }}</td>
                            <td>{{ content.plocation | sliceString: 9 }}</td>
                            <td>{{ content.pdate | sliceString: 10 }}</td>
                            <td>{{ content.pdetails | sliceString: 16 }}</td>
                            <td><a ui-sref="index.p({ pid:content.pid })">查看具体</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer-directive></footer-directive>