<!-- gallery -->
<gallery-directive></gallery-directive>

<!-- Body Main -->
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <pbtn-directive></pbtn-directive>
        </div>

        <div class="col-lg-8">
            <div ng-repeat="fall in fallData">
                <div class="media">
                    <img class="media-object thum-sm pull-left" ng-src="{{ fall.uheader }}" alt="头像">

                    <div class="media-body">
                        <h4 class="media-heading">{{ fall.uname }}
                            <small>&nbsp;&nbsp;发表于{{ fall.ptime | sliceString:10 }}</small>
                        </h4>
                        <p class="details"><strong>物品名称：</strong>{{ fall.pname }}</p>
                        <p class="details"><strong>详情：</strong>{{ fall.pdetails }}</p>
                        <img ng-if="fall.pimage !=''" class="thumbnail" ng-src="{{ fall.pimage }}" alt="物品图片"
                             style="width: 100%">
                    </div>
                    <a ui-sref="index.p({ pid:fall.pid })" class="btn btn-primary pull-right" role="button">查看详情</a>
                    <a ng-if="fall.psucceed == 1" class='pull-right'>&nbsp;</a>
                    <button ng-if="fall.psucceed == 1" type="button" class="btn btn-success pull-right" ng-disabled="true">
                        <span class="glyphicon glyphicon-ok"></span> 已成功
                    </button>
                </div>
                <hr/>
            </div>
            <button ng-disabled="true" class="btn btn-success btn-block">{{ text }}</button>
        </div>
    </div>
</div>

<!-- Footer -->
<footer-directive></footer-directive>