<nav-directive></nav-directive>

<!-- Body Main -->
<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="images/head_photo.png" alt="头像">
            </a>

            <div class="media-body">
                <h3 class="media-heading">{{ pPublish.uname }}
                    <small>&nbsp;&nbsp;发表于{{ pPublish.ptime | sliceString: 10 }}</small>
                </h3>
                <p>{{ pPublish.pdetails }}</p>
                <a href="#" class="thumbnail" ng-if="pPublish.pimage != ''">
                    <img ng-src="/upload/{{ pPublish.pimage }}" alt="物品图片">
                </a>
            </div>
        </div>
        <div class="media" ng-repeat="comment in pComment">
            <a class="pull-left" href="#">
                <img class="media-object" ng-src="images/{{ comment.uheader }}" alt="头像" style="width: 100px;height: 100px;">
            </a>

            <div class="media-body">
                <h4 class="media-heading">{{ comment.uname }}
                    <small>&nbsp;&nbsp;发表于{{ comment.ctime | sliceString: 16 }}</small>
                </h4>
                <p>{{ comment.cdetails}}</p>
            </div>
        </div>
        <div class="media">
            <form name="com" ng-submit="com.$valid && comment(content)" class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea ng-disabled="!isLogin" ng-model="content" class="form-control" rows="3" placeholder="我要说点啥……" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button ng-if="isLogin" ng-disabled="com.$invalid" type="submit" class="btn btn-info">发表评论</button>
                    </div>
                    <div class="col-sm-12">
                        <button ng-if="!isLogin" ng-click="needLogin()" type="buttom" class="btn btn-info">登录后才能发表评论</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<footer-directive></footer-directive>