<nav-directive></nav-directive>

<!-- Body Main -->
<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="images/head_photo.png" alt="头像">
            </a>

            <div class="media-body">
                <h3 class="media-heading">{{ p.publish.uname }}
                    <small>&nbsp;&nbsp;发表于{{ p.publish.ptime | sliceString: 10 }}</small>
                </h3>
                <p>{{ p.publish.pdetails }}</p>
                <a href="#" class="thumbnail" ng-if="p.publish.pimage != ''">
                    <img ng-src="/upload/{{ p.publish.pimage }}" alt="物品图片">
                </a>
            </div>
            <a href="#" class="btn btn-primary pull-right" role="button">成功找到？</a>
        </div>
        <div class="media" ng-repeat="comment in p.comment">
            <a class="pull-left" href="#">
                <img class="media-object" ng-src="images/{{ comment.uheader }}" alt="头像" style="width: 100px;height: 100px;">
            </a>

            <div class="media-body">
                <h4 class="media-heading">{{ comment.uname }}
                    <small>&nbsp;&nbsp;发表于{{ comment.ctime | sliceString: 10 }}</small>
                </h4>
                <p>评论评论评论评论评论评论评论评论评论评论评论。</p>
            </div>
        </div>
        <div ng-if="isLogin" class="media">
            <form class="form-horizontal" role="form" action="">
                <div class="form-group">
                    <div class="col-sm-12">
                        <textarea class="form-control" rows="3" placeholder="我要说点啥……"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-info">发表评论</button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-if="!isLogin" class="media">
            <button ng-click="needLogin()" type="buttom" class="btn btn-info btn-lg">登录后才能发表评论</button>
        </div>
    </div>
</div>


<!-- Footer -->
<div class="container-fluid" id="bottom">
    <p>Copyright 2014-? <span><a href="index.html">www.hfutfind.com</a></span> 版权所有 合肥工业大学千寻网</p>
</div>