<div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">Hi!亲们：</h1>
    </div>
    <div class="panel-body">
        <h3>在这儿发布失物招领信息哦!</h3>
        <br/>
        <a ng-click="publishLost()" class="btn btn-info btn-lg btn-block" role="button">我丢宝贝啦</a>
        <br/>
        <a ng-click="publishFind()" class="btn btn-info btn-lg btn-block" role="button">我捡到宝贝啦</a>

        <h3>已成功帮<span class="succeedNum">{{ success }}</span>件宝贝找到主人</h3>

        <h3>在工大 失物招领就上千寻网!</h3>
    </div>
</div>