<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">发布 (标注*为必填项)</h3>
                </div>
                <div class="panel-body">
                    <form name="publishForm" ng-submit="publishForm.$valid && publish(good)"
                          class="form-horizontal col-lg-6" role="form">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">*物品类别</label>

                            <div class="col-lg-8">
                                <select ng-model="good.pitem" ng-required="true" ng-options="lunch for lunch in lunches"
                                        class="form-control">
                                    <option value="">请选择物品类别</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="good" class="col-lg-4 control-label">*物品名称</label>

                            <div class="col-lg-8">
                                <input ng-model="good.pname" ng-required="true" type="text" class="form-control"
                                       id="good" placeholder="物品名称" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="place" class="col-lg-4 control-label">*丢失地点</label>

                            <div class="col-lg-8">
                                <input ng-model="good.plocation" ng-required="true" type="text" class="form-control"
                                       id="place" placeholder="地点" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="timer" class="col-lg-4 control-label">*丢失时间</label>

                            <div class="col-lg-8">
                                <input ng-model="good.pdate" ng-required="true" type="text" class="form-control"
                                       id="timer" placeholder="时间" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textarea" class="col-lg-4 control-label">*详情描述</label>

                            <div class="col-lg-8">
                                <textarea ng-model="good.pdetails" ng-required="true" id="textarea" class="form-control"
                                          rows="6" placeholder="详细说明失物招领信息，不超过200字" ng-required="true"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-4 col-lg-8">
                                <button ng-disabled="publishForm.$invalid" type="submit"
                                        class="btn btn-primary btn-block">发 布
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- 上传图片在本地预览 -->
                    <div ng-controller="uploadCtrl" class="col-lg-6" id="localImag">
                        <div class="form-group">
                            <label for="file_uploader" class="col-lg-5 control-label">物品图片
                                <h6>请上传一张小于2M的jpg或png格式的图片</h6>
                            </label>

                            <div class="col-lg-7">
                                <input id="file_uploader" class="form-control filestyle" type="file" file-model="myFile"
                                       onchange="angular.element(this).scope().change(this)" accept="image/*"/>

                                <div ng-if="uploadSuccess" class="alert alert-success" role="alert">
                                    <strong>图片上传成功！</strong>
                                </div>
                            </div>
                        </div>
                        <img class="thumbnail" ng-if="uploadSuccess" ng-src="{{ imgUrl }}" alt="上传图片预览"
                             style="width: 100%;height: 100%;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div ng-include="'tpl/footer.html'"></div>