<nav-directive></nav-directive>

<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">发布 (标注*为必填项)</h3>
                </div>
                <div class="panel-body">
                    <form name="publishForm" ng-submit="publishForm.$valid && publish(good)"
                          class="form-horizontal col-lg-6" role="form">
                        <div class="form-group">
                            <label class="col-lg-4 control-label">*物品类别</label>

                            <div class="col-lg-8">
                                <select ng-model="good.pitem" ng-required="true" ng-options="lunch for lunch in lunches"
                                        class="form-control">
                                    <option value="">请选择物品类别</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="good" class="col-lg-4 control-label">*物品名称</label>

                            <div class="col-lg-8">
                                <input ng-model="good.pname" ng-required="true" type="text" class="form-control"
                                       id="good" placeholder="物品名称" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="place" class="col-lg-4 control-label">*丢失地点</label>

                            <div class="col-lg-8">
                                <input ng-model="good.plocation" ng-required="true" type="text" class="form-control"
                                       id="place" placeholder="地点" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="timer" class="col-lg-4 control-label">*丢失时间</label>

                            <div class="col-lg-8">
                                <input ng-model="good.pdate" ng-required="true" type="text" class="form-control"
                                       id="timer" placeholder="时间" ng-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="file_uploader" class="col-lg-4 control-label">物品图片</label>

                            <div class="col-lg-8">
                                <input type="file" id="file_uploader" class="form-control filestyle" nv-file-select=""
                                       uploader="uploader"/><br/>
                            </div>

                            <!--图片上传-->
                            <!--<input type="file" nv-file-select="" uploader="uploader"/><br/>-->

                            <!--<div ng-repeat="item in uploader.queue">-->
                            <!--<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>-->
                            <!--<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"-->
                            <!--ng-disabled="item.isReady || item.isUploading || item.isSuccess">-->
                            <!--<span class="glyphicon glyphicon-upload"></span> Upload-->
                            <!--</button>-->
                            <!--</div>-->


                        </div>
                        <div class="form-group">
                            <label for="textarea" class="col-lg-4 control-label">*详情描述</label>

                            <div class="col-lg-8">
                                <textarea ng-model="good.pdetails" ng-required="true" id="textarea" class="form-control"
                                          rows="6" placeholder="详细说明失物招领信息，不超过200字" ng-required="true"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-4 col-lg-8">
                                <button ng-disabled="publishForm.$invalid" type="submit"
                                        class="btn btn-primary btn-block">发 布
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- 上传图片在本地预览 -->
                    <div class="col-lg-6" id="localImag">
                        <div ng-repeat="item in uploader.queue">
                            <div class="img-thumbnail canvas" ng-show="uploader.isHTML5"
                                 ng-thumb="{ file: item._file, width: 422 }"></div>
                            <br/>
                            <button type="button" class="btn btn-success" ng-click="item.upload()"
                                    ng-disabled="item.isReady || item.isUploading || item.isSuccess">上传图片
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer-directive></footer-directive>