<nav-directive></nav-directive>

<!-- Body Main -->
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">个人资料</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <img ng-src="{{ user.header }}" class="img-circle thum">
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">昵称</label>

                        <div class="col-lg-8">
                            <p class="form-control-static">{{ user.name }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">邮箱</label>

                        <div class="col-lg-8">
                            <p class="form-control-static yuanlai">{{ user.email }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">手机号码</label>

                        <div class="col-lg-8">
                            <p class="form-control-static yuanlai">{{ user.tel }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label">QQ</label>

                        <div class="col-lg-8">
                            <p class="form-control-static yuanlai">{{ user.qq }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-4 col-lg-8">
                            <button class="btn btn-primary">修改资料</button>
                            <button class="btn btn-danger" ng-click="logout()">退出登录</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <!-- Nav tabs -->
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#zhaoling" role="tab" data-toggle="tab">我的招领信息</a></li>
                <li><a href="#shiwu" role="tab" data-toggle="tab">我的失物信息</a></li>
                <li><a href="#messages" role="tab" data-toggle="tab">我的评论</a></li>
                <li><a href="#success" role="tab" data-toggle="tab">成功事例</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="zhaoling">
                    <div class="media" ng-repeat="content in find">
                        <a class="pull-left" href="#">
                            <img class="media-object thum-sm" ng-src="{{ user.header }}" alt="头像">
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">我
                                <small>&nbsp;&nbsp;{{ content.ptime }}</small>
                            </h4>
                            {{ content.pdetails }}
                        </div>
                        <a href="info.html" class="btn btn-primary pull-right" role="button">查看详情</a>
                        <a href="#" class="btn btn-primary pull-right" role="button">成功找到？</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="shiwu">
                    <div class="media" ng-repeat="content in lost">
                        <a class="pull-left" href="#">
                            <img class="media-object thum-sm" ng-src="{{ user.header }}" alt="头像">
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">我
                                <small>&nbsp;&nbsp;{{ content.ptime }}</small>
                            </h4>
                            {{ content.pdetails }}
                        </div>
                        <a href="info.html" class="btn btn-primary pull-right" role="button">查看详情</a>
                        <a href="#" class="btn btn-primary pull-right" role="button">成功找到？</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="messages">
                    <div class="media" ng-repeat="content in comment">
                        <a class="pull-left" href="#">
                            <img class="media-object thum-sm" ng-src="{{ user.header }}" alt="头像">
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">我
                                <small>&nbsp;&nbsp;{{ content.ctime }}</small>
                            </h4>
                            {{ content.cdetails }}
                        </div>
                        <a href="#" class="btn btn-primary pull-right" role="button">删除</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="success">
                    <div class="media" ng-repeat="content in succeed">
                        <a class="pull-left" href="#">
                            <img class="media-object thum-sm" ng-src="{{ user.header }}" alt="头像">
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">我
                                <small>&nbsp;&nbsp;{{ content.ptime }}</small>
                            </h4>
                            {{ content.pdetails }}
                        </div>
                        <a ui-sref="index.p({ pid:content.pid })" class="btn btn-primary pull-right" role="button">查看详情</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer-directive></footer-directive>