<!-- Body Main -->
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">个人资料</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <img ng-src="{{ user.header }}" class="img-circle thum">
                    </div>
                    <p><label class="col-lg-4">昵称</label>{{ user.name }}</p>

                    <p><label class="col-lg-4">邮箱</label>{{ user.email }}</p>

                    <p><label class="col-lg-4">手机号码</label>{{ user.tel }}</p>

                    <p><label class="col-lg-4">QQ</label>{{ user.qq }}</p>

                    <div class="col-lg-offset-4">
                        <a ui-sref="index.modify" class="btn btn-primary" role="button">修改资料</a>
                        <a ui-sref="index.reset" class="btn btn-primary" role="button">修改密码</a>
                    </div>
                    <br/>
                    <div class="col-lg-offset-4">
                        <button class="btn btn-danger" ng-click="logout()">退出登录</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <!-- Nav tabs -->
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#zhaoling" role="tab" data-toggle="tab">我的招领信息</a></li>
                <li><a href="#shiwu" role="tab" data-toggle="tab">我的失物信息</a></li>
                <li><a href="#messages" role="tab" data-toggle="tab">我的评论</a></li>
                <li><a href="#success" role="tab" data-toggle="tab">我的成功事例</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="zhaoling">
                    <div ng-if="find.length != 0" class="media" ng-repeat="content in find">
                        <hr/>
                        <img class="media-object thum-sm pull-left" ng-src="{{ user.header }}" alt="头像">

                        <div class="media-body">
                            <h4 class="media-heading">我
                                <small>&nbsp;&nbsp;发表于{{ content.ptime | sliceString : 10 }}</small>
                            </h4>
                            <p class="details"><strong>物品名称：</strong>{{ content.pname }}</p>

                            <p class="details"><strong>详情：</strong>{{ content.pdetails }}</p>
                            <img ng-if="content.pimage !=''" class="thumbnail" ng-src="{{ content.pimage }}" alt="物品图片"
                                 style="width: 100%">
                        </div>
                        <a ng-click="deleteP(content.pid)" class="btn btn-danger pull-right" role="button">删除</a>
                        <a class='pull-right'>&nbsp;</a>
                        <a ui-sref="index.p({ pid:content.pid })" class="btn btn-primary pull-right"
                           role="button">查看详情</a>
                        <a class='pull-right'>&nbsp;</a>
                        <a ng-if="content.psucceed != 1" ng-click="switchSucceed(content.pid)"
                           class="btn btn-primary pull-right" role="button"> 已成功？</a>
                        <button ng-if="content.psucceed == 1" disabled class="btn btn-success pull-right">
                            <span class="glyphicon glyphicon-ok"></span>  已成功
                        </button>
                    </div>

                    <hr ng-if="find.length == 0"/>
                    <p ng-if="find.length == 0">您还没有招领信息哦~</p>
                </div>
                <div class="tab-pane fade" id="shiwu">
                    <div ng-if="lost.length != 0" class="media" ng-repeat="content in lost">
                        <hr/>
                        <img class="media-object thum-sm pull-left" ng-src="{{ user.header }}" alt="头像">

                        <div class="media-body">
                            <h4 class="media-heading">我
                                <small>&nbsp;&nbsp;发表于{{ content.ptime | sliceString : 10 }}</small>
                            </h4>
                            <p class="details"><strong>物品名称：</strong>{{ content.pname }}</p>

                            <p class="details"><strong>详情：</strong>{{ content.pdetails }}</p>
                            <img ng-if="content.pimage !=''" class="thumbnail" ng-src="{{ content.pimage }}" alt="物品图片"
                                 style="width: 100%">
                        </div>
                        <a ng-click="deleteP(content.pid)" class="btn btn-danger pull-right" role="button">删除</a>
                        <a class='pull-right'>&nbsp;</a>
                        <a ui-sref="index.p({ pid:content.pid })" class="btn btn-primary pull-right"
                           role="button">查看详情</a>
                        <a class='pull-right'>&nbsp;</a>
                        <a ng-if="content.psucceed != 1" ng-click="switchSucceed(content.pid)"
                           class="btn btn-primary pull-right" role="button"> 已成功？</a>
                        <button ng-if="content.psucceed == 1" disabled class="btn btn-success pull-right">
                            <span class="glyphicon glyphicon-ok"></span>  已成功
                        </button>
                    </div>

                    <hr ng-if="lost.length == 0"/>
                    <p ng-if="lost.length == 0">您还没有失物信息哦~</p>
                </div>
                <div class="tab-pane fade" id="messages">
                    <div ng-if="comment.length != 0" class="media" ng-repeat="content in comment">
                        <hr/>
                        <img class="media-object thum-sm pull-left" ng-src="{{ user.header }}" alt="头像">

                        <div class="media-body">
                            <h4 class="media-heading">我
                                <small>&nbsp;&nbsp;{{ content.ctime | sliceString: 10 }}</small>
                            </h4>
                            {{ content.cdetails }}
                        </div>
                        <a ng-click="deleteComment(content.cid)" class="btn btn-danger pull-right" role="button">删除</a>
                        <a class='pull-right'>&nbsp;</a>
                        <a ui-sref="index.p({ pid:content.pid })" class="btn btn-primary pull-right"
                           role="button">查看详情</a>
                    </div>

                    <hr ng-if="comment.length == 0"/>
                    <p ng-if="comment.length == 0">您还没有评论哦~</p>
                </div>
                <div class="tab-pane fade" id="success">
                    <div ng-if="succeed.length != 0" class="media" ng-repeat="content in succeed">
                        <hr/>
                        <img class="media-object thum-sm pull-left" ng-src="{{ user.header }}" alt="头像">

                        <div class="media-body">
                            <h4 class="media-heading">我
                                <small>&nbsp;&nbsp;发表于{{ content.ptime | sliceString : 10 }}</small>
                            </h4>
                            <p class="details"><strong>物品名称：</strong>{{ content.pname }}</p>

                            <p class="details"><strong>详情：</strong>{{ content.pdetails }}</p>
                            <img ng-if="content.pimage !=''" class="thumbnail" ng-src="{{ content.pimage }}" alt="物品图片"
                                 style="width: 100%">
                        </div>
                        <a ui-sref="index.p({ pid:content.pid })" class="btn btn-primary pull-right"
                           role="button">查看详情</a>
                        <a class='pull-right'>&nbsp;</a>
                        <button disabled class="btn btn-success pull-right">
                            <span class="glyphicon glyphicon-ok"></span> 已成功
                        </button>
                    </div>

                    <hr ng-if="succeed.length == 0"/>
                    <p ng-if="succeed.length == 0">您还没有成功信息哦~</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<div ng-include="'tpl/footer.html'"></div>